<p id="notice"><%= notice %></p>

<p>
  <strong>Artist name:</strong>
  <%= @property.artist_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Ticket price:</strong>
  <%= @property.ticket_price %>
</p>

<p>
  <strong>Date:</strong>
  <%= @property.date %>
</p>

<p>
  <strong>State:</strong>
  <%= @property.state %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
